* text=auto

/.github export-ignore
/tests export-ignore
.editorconfig export-ignore
.gitattributes export-ignore
.gitignore export-ignore
.php-cs-fixer.dist.php export-ignore
Makefile export-ignore
phpdoc.dist.xml export-ignore
phpstan.neon.dist export-ignore
phpunit.xml export-ignore
rector.php export-ignore
