# Repertory
/app/config/
/app/data/
/app/files/
/app/modules/
/app/themes/

# Dependency
/node_modules/
/vendor/

# Tools
/.scannerwork/
/build/
/nbproject/

# Files
!/app/config/default/database.json
/*.lock
/*.phar
/*.cache