# Repertory
/app/config/
/app/data/
/app/files/
/app/modules/
/app/themes/
/public/files/
/public/assets/

# Dependency
/node_modules/
/vendor/

# Tools
/.history/
/.scannerwork/
/.vscode/
/build/
/nbproject/

# Files
!/app/config/default/database.json
/*.lock
/*.phar
/*.cache