/* Affichage */
.section {
    border: #ccc dashed 2px;
    margin-bottom: 10px;
}
.block-content-disabled {
    background-image: -webkit-linear-gradient(45deg,rgba(86,61,124,.15) 25%,transparent 25%,transparent 50%,rgba(86,61,124,.15) 50%,rgba(86,61,124,.15) 75%,transparent 75%,transparent);
    background-image: -o-linear-gradient(45deg,rgba(86,61,124,.15) 25%,transparent 25%,transparent 50%,rgba(86,61,124,.15) 50%,rgba(86,61,124,.15) 75%,transparent 75%,transparent);
    background-image: linear-gradient(45deg,rgba(86,61,124,.15) 25%,transparent 25%,transparent 50%,rgba(86,61,124,.15) 50%,rgba(86,61,124,.15) 75%,transparent 75%,transparent);
    -webkit-background-size: 40px 40px;
    background-size: 40px 40px;
    padding: 1em;
}
.block,
.block-content-disabled {
    margin-bottom: 1em;
    position: relative;
}
.block:hover {
    background-color: rgba(155,155,155,0.3);
}
.block:hover .block-actions {
    opacity: 1;
}
.block .block-actions {
    background-color: #333;
    opacity: 0;
    padding: 6px 15px;
    position: absolute;
    right: 0;
    z-index: 1;
}
.block .block-actions .fa {
    color: #fff;
    cursor: pointer;
}
.block .block-actions .fa:hover {
    color: #eee;
}

/* Administration */
.block-search {
    margin-bottom: 1em;
}
.block-cards {
    overflow-y: auto;
    height: 400px;
    position: relative;
}
.block-card {
    margin-top: -1px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.block-card label {
    margin-bottom: 0;
    padding-top: .5em;
    padding-bottom: .5em;
    width: 100%;
}

.block-card [type="radio"]:checked + label::before,
.block-card [type="radio"]:not(:checked) + label::before {
    top: inherit;
}
.block-label {
    display: flex;
}
.block-label-description {
    display: block;
}
.block-label-title {
    display: block;
    font-weight: 900;
}
.block-label-icon {
    margin-right: 1em;
}
.block-preview {
    border: #ccc dashed 2px;
    padding: 12px;
    pointer-events: none
}
.block-preview-no_select {
    display: flex;
    height: 300px;
    align-items: center;
    justify-content: center;
}
.form-create_list [type="radio"]:checked + label::after,
.form-create_list [type="radio"]:not(:checked) + label::after {
    top: 14px;
}
.form-create_list .block_list-submit {
    margin-bottom: 1em;
}
@media (min-width: 992px) {
    .form-create_list .block_list-submit {
        margin-bottom: 0;
    }
}