.section {
    border: #ccc dashed 2px;
    margin-bottom: 10px;
}
.block-content-disabled {
    background-image: -webkit-linear-gradient(45deg,rgba(86,61,124,.15) 25%,transparent 25%,transparent 50%,rgba(86,61,124,.15) 50%,rgba(86,61,124,.15) 75%,transparent 75%,transparent);
    background-image: -o-linear-gradient(45deg,rgba(86,61,124,.15) 25%,transparent 25%,transparent 50%,rgba(86,61,124,.15) 50%,rgba(86,61,124,.15) 75%,transparent 75%,transparent);
    background-image: linear-gradient(45deg,rgba(86,61,124,.15) 25%,transparent 25%,transparent 50%,rgba(86,61,124,.15) 50%,rgba(86,61,124,.15) 75%,transparent 75%,transparent);
    -webkit-background-size: 40px 40px;
    background-size: 40px 40px;
    padding: 1em;
}
.block,
.block-edit,
.block-content-disabled {
    margin-bottom: 1em;
    position: relative;
}
.block:hover .block-actions {
    opacity: 1;
}
.block-actions {
    background-color: #333;
    opacity: 0;
    padding: 6px 15px;
    position: absolute;
    right: 0;
    z-index: 1;
}
.block-actions .fa {
    color: #fff;
    cursor: pointer;
}
.block-actions .fa:hover {
    color: #eee;
}
.block-list {
    overflow-y: auto;
    padding: 1em;
}
.block-body {
    border: solid 1px #ddd;
    height: 300px;
    overflow: hidden;
    overflow-x: auto;
    overflow-y: auto;
    padding: 0.5em;
    margin-bottom: 1em;
    width: 100%;
}
.block-content {
    pointer-events: none
}
.cards-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}
.card__block {
    box-sizing: border-box;
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
    min-width: 30%;
}
.block-footer {
   text-align: center;
}

/*.card__block .radio-button label {
    border: 1px solid #fff;
}
.card__block .radio-button label:hover {
    background-color: rgba(33, 33,33,.5);
}
.card__block .radio-button [type="radio"]:checked ~ label {
    background-color: #fff;
    border: 1px solid #333;
    color: #333;
}*/