.section {
    border: #ccc dashed 2px;
    margin-bottom: 10px;
}
.block-content-disabled {
    background-color: #eee;
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    -webkit-background-size: 40px 40px;
    background-size: 40px 40px;
    padding: 1em;
}
.block,
.block-edit,
.block-content-disabled{
    margin-bottom: 1em;
}
.block:hover .block-actions {
    opacity: 1;
}
.block-actions {
    opacity: 0;
    position: absolute;
    right: 0;
    margin-right: 15px;
}
.block-actions .fa-edit:hover {
    color: #1a92bb;
}
.block-actions .fa-trash-alt:hover {
    color: #d9534f;
}
.block-actions .fa-arrows-alt:hover {
    color: #666;
}
.block-list{
    padding: 1em;
    width: 100%;
    overflow-y: auto;
}
.block-item {
    margin-bottom: 1em;
}
.block-body{
    display:block;
}
.block-body input {
    display:none;
}
div > input[type=radio]:checked + .block-content{
    -webkit-box-shadow: 0px 0px 8px 1px rgba(32,34,45,1);
    -moz-box-shadow: 0px 0px 8px 1px rgba(32,34,45,1);
    box-shadow: 0px 0px 8px 1px rgba(32,34,45,1);
}
.block-content{
    padding: 1em;
    border: dashed 1px #666;
    width: 100%;
    height: 300px;
    overflow: hidden;
    overflow-x: auto;
    overflow-y: auto;
}