#table-file {
    table-layout: fixed;
    word-wrap: break-word;
}
/* Dropfile */
.filemanager-dropfile {
    font-size: 1.25rem;
    padding: 2em;
    outline: 2px dashed #ccc;
    text-align: center;
    -webkit-transition: background-color .2s, outline-offset .2s; /* Safari */
    transition: background-color .2s, outline-offset .2s;
}
.filemanager-dropfile__success {
    outline: 2px dashed #21ba45;
}
.filemanager-dropfile__error {
    outline: 2px dashed #db2828;
}
.filemanager-dropfile .choose {
    color: #0086b3;
    cursor: pointer;
}
.filemanager-dropfile__progress {
    display: inline-block;
}
.filemanager-dropfile__progress_bar {
    background-color: #fff;
    width: 200px;
}
.filemanager-dropfile__progress_bar_complete {
    height: 5px;
    background-color: #2185d0;
    margin-left: auto;
    margin-right: auto;
}
.filemanager-dropfile__success .filemanager-dropfile__progress_bar_complete {
    background-color: #21ba45;
}
.filemanager-dropfile__error .filemanager-dropfile__progress_bar_complete {
    background-color: #db2828;
}
.file-link_show .file-link_show_img {
    background-repeat: no-repeat;
    height: 6em;
    background-size: contain;
    background-position: center;
    max-width: 6em;
}
.dir-link_show,
.file-link_show {
    cursor:pointer;
}
.file{
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display:inline-block;
    width: 5em;
    height: 6em;
    text-align: center;
}
.ext-name{
    position: relative;
    bottom: -5.6em;
    color: #fff;
    font-size: .8em;
}
.ext{
    color: #bbb;
}
.modal-info{
    word-wrap: break-word;
}
.modal-visulaize {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    min-height: 300px;
}
.modal-visulaize.thumbnail {
    border: 1px solid rgba(86,61,124,.2);
    padding: 6px;
}
.file { background-image: url(./icon/file.svg); }
.ai, .eps{ background-image: url(./icon/ai.svg); }
.dir{ background-image: url(./icon/dir.svg); }
.gif, .ico, .jpg, .jpeg, .png, .svg{ background-image: url(./icon/jpg.svg); }
.json, .css{ background-image: url(./icon/json.svg); }
.mp3{ background-image: url(./icon/mp3.svg); }
.mp4, .avi, .mpeg, .webm{ background-image: url(./icon/mp4.svg); }
.pdf{ background-image: url(./icon/pdf.svg); }
.odp, .pptx, .ppt{ background-image: url(./icon/ppt.svg); }
.txt, .odt, .docx, .doc{ background-image: url(./icon/txt.svg); }
.xml, .xhtml, .html{ background-image: url(./icon/xhtml.svg); }
.ods, .xlsx, .xls, .csv{ background-image: url(./icon/xls.svg); }
.zip, .gzip, .tar, .rar{ background-image: url(./icon/zip.svg); }