/* table file */
#table-file {
    white-space: nowrap;
}
.file-link_show .file-link_show_img {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 6em;
    width: 6em;
}
.dir-link_show,
.file-link_show {
    cursor: pointer;
}
.file {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 6em;
    display:inline-block;
    text-align: center;
    width: 5em;
}
.ext-name {
    bottom: -5.6em;
    color: #fff;
    font-size: .8em;
    position: relative;
}
.ext{
    color: #bbb;
}
.file { background-image: url(./icon/file.svg); }
.ai, .eps{ background-image: url(./icon/ai.svg); }
.dir{ background-image: url(./icon/dir.svg); }
.gif, .ico, .jpg, .jpeg, .png, .svg{ background-image: url(./icon/jpg.svg); }
.json, .css{ background-image: url(./icon/json.svg); }
.mp3{ background-image: url(./icon/mp3.svg); }
.mp4, .avi, .mpeg, .webm{ background-image: url(./icon/mp4.svg); }
.pdf{ background-image: url(./icon/pdf.svg); }
.odp, .pptx, .ppt{ background-image: url(./icon/ppt.svg); }
.txt, .odt, .docx, .doc{ background-image: url(./icon/txt.svg); }
.xml, .xhtml, .html{ background-image: url(./icon/xhtml.svg); }
.ods, .xlsx, .xls, .csv{ background-image: url(./icon/xls.svg); }
.zip, .gzip, .tar, .rar{ background-image: url(./icon/zip.svg); }

/* Dropfile */
.filemanager-dropfile {
    font-size: 1.25rem;
    padding: 2em;
    outline: 2px dashed #ccc;
    text-align: center;
    -webkit-transition: background-color .2s, outline-offset .2s; /* Safari */
    transition: background-color .2s, outline-offset .2s;
}
.filemanager-dropfile .choose {
    color: #0086b3;
    cursor: pointer;
}

/* Modal file */
.modal-info{
    word-wrap: break-word;
}
.modal-visulaize {
    min-height: 300px;
}

/* Upload files */
#filemanager-dropfile__progress_cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}
.filemanager-dropfile__progress {
    border: 1px solid #eaeaea;
    box-sizing: border-box;
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    min-width: 12em;
    word-break: break-word;
}
.filemanager-dropfile__progress_render {
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 200px;
    position: relative;
    text-align: center;
}
.filemanager-dropfile__progress_percent {
    margin-left: 6px;
}
.filemanager-dropfile__progress_bar {
    background-color: #fff;
}
.filemanager-dropfile__progress_bar_complete {
    background-color: #2185d0;
    height: 5px;
}
.filemanager-dropfile__success .filemanager-dropfile__progress_bar_complete {
    background-color: #21ba45;
}
.filemanager-dropfile__error .filemanager-dropfile__progress_bar_complete {
    background-color: #db2828;
}
#table-file td.file-name {
    position: relative;
    width: 100%;
}
#table-file td.file-name .wrapper {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
}
#table-file td.file-name .name-text {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    padding-right: 1em;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 0;
}
#table-file td.file-name .inner-text {
    overflow: hidden;
    text-overflow: ellipsis;
}