#header_main{
    padding: 2em;
    margin-top: 50px;
    padding-top: 4em;
    margin-bottom: 1em;
    background: #21244F; /* Old browsers */
    background: -moz-linear-gradient(top, #21244f 0%, #1c889e 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #21244f 0%,#1c889e 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #21244f 0%,#1c889e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#21244f', endColorstr='#1c889e',GradientType=0 ); /* IE6-9 */
}
h1{
    color: #FFF;
}
fieldset{
    border: solid 1px #DDD;
    border-top: none;
    box-shadow: 0px -3px 0 #9769ac;
    padding: 12px;
    margin: 0 0 20px;
}
fieldset legend{
    border: 0;
    background: #FFF;
    padding: 0 6px;
    margin: 0;
    margin-left: -3px;
    font-family: "Open Sans","Segoe UI","Helvetica",sans-serif;
    font-size: 20px;
    font-weight: 300;
    width:auto;
}
textarea{
    resize:vertical;
    min-height: 34px;
}
.form-inline .form-control{
    transition: width .2s;
}
.img-thumbnail{
    max-height: 150px; 
}
.souligne{
    transition: width .2s;
    height: 11px;
    margin-left: -2em;
    width: 80%;
    background-color: #FFF;
    border-radius: 0 20px 20px 0;
    -moz-border-radius: 0 20px 20px 0;
    -webkit-border-radius: 0 20px 20px 0;
    border: 0 solid #000;
}
.form-required{
    color: #C00;
}
.div-thead tr,
.div-thead{
    background-color: #1C889E;
    padding: 1em 0 1em 1em;
    font-size: 14px;
    color: #FFF;
    font-family: "Open Sans","Segoe UI","Helvetica",sans-serif;
    text-transform: uppercase;
}
.div-tbody{
    padding-bottom: 15px;
    padding-top: 15px;
}
.div-tbody h3{
    margin: 0;
    padding: 0;
}
.div-tbody:hover
{
    background-color: #EEE;
    -webkit-transition: background-color .2s;
    -moz-transition: background-color .2s;
    -ms-transition: background-color .2s;
    -o-transition: background-color .2s;
    transition: background-color .2s;
}
@media (min-width: 768px){
    .form-inline .form-control{
        width: 50%;
    }
    .souligne{
        width: 20%;
    }
}
/* Navbar */
.navbar-grey{
    background-color: #21244F;
    border: 0;
}
.navbar-grey button,
.navbar-grey li a{
    color: #FFF;
    position: relative;
    line-height: 1.5;
    z-index: 1;
}
.navbar-grey li a:focus,
.navbar-grey li a:hover{
    background-color: rgba(255, 255, 255, 0.2);
    color: #FFF;
    -webkit-transition: background-color .2s;
    -moz-transition: background-color .2s;
    -ms-transition: background-color .2s;
    -o-transition: background-color .2s;
    transition: background-color .2s;
}
.navbar-grey li.active a{
    background-color: rgba(255, 255, 255, 0.2);
}
.navbar-grey li a::after{
    width: 0;
    height: 2px;
    z-index: -1;
    background-color: #FFF;
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    -webkit-transition: width .4s cubic-bezier(.8,0,.2,1);
    -moz-transition: width .4s cubic-bezier(.8,0,.2,1);
    -ms-transition: width .4s cubic-bezier(.8,0,.2,1);
    -o-transition: width .4s cubic-bezier(.8,0,.2,1);
    transition: width .4s cubic-bezier(.8,0,.2,1);
}
.navbar-grey li a:hover::after{
    width: 100%;
}
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
.navbar-grey .dropdown-menu {
    border:0;
}
.navbar-grey .dropdown-menu a,
.navbar-grey .dropdown-menu a:hover{
    color: #1c889e;
}
/* Demo CSS code */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
    position: relative;
    padding-left: 75px;
    cursor: pointer;
}
[type="checkbox"] + label{
    min-height: 1em;
}
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before,
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
    content: '';
    position: absolute;
}
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
    left: 0; 
    top: -3px;
    width: 65px; 
    height: 30px;
    background: #D9534F;
    border-radius: 15px;
    -webkit-transition: background-color .2s;
    -moz-transition: background-color .2s;
    -ms-transition: background-color .2s;
    transition: background-color .2s;
}
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
    width: 20px; 
    height: 20px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    transition: all .2s;
    border-radius: 50%;
    background: #FFF;
    top: 2px; 
    left: 5px;
}
/* on checked */
[type="checkbox"]:checked + label:before {
    background:#5CD85C;
}
[type="checkbox"]:checked + label:after {
    background: #FFF;
    top: 2px; 
    left: 40px;
}
[type="checkbox"]:checked + label .ui,
[type="checkbox"]:not(:checked) + label .ui:before,
[type="checkbox"]:checked + label .ui:after {
    position: absolute;
    left: 6px;
    border-radius: 15px;
    font-size: 14px;
    font-weight: bold;
    line-height: 22px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    transition: all .2s;
}
[type="checkbox"]:not(:checked) + label .ui:before {
    content: "✗";
    color: #FFF;
    left: 32px
}
[type="checkbox"]:checked + label .ui:after {
    content: "✔";
    color: #FFF;
}
[type="checkbox"]:focus + label:before {
    outline: none; 
}
[type="checkbox"][disabled]:checked + label:before,
[type="checkbox"][disabled]:not(:checked) + label:before{
    background:#666; 
}
.btn-action{
    color: #333;
}
.btn-action:hover{
    text-decoration: underline;
}
#btn_up {
    bottom: 15px;
    cursor: pointer;
    display: none;
    position: fixed;
    right: 25px;
}
.module-is_required{
    color: #D9534F;
}
.module-is_required_for_module{
    color:#5CD85C
}
.permission-module {
    border-bottom: #9769ac 3px solid;
}