body {
    padding: 0;
    margin: 0;
    margin-top: 2em;
}
@media (min-width: 992px) {
    body {
        margin: 0;
    }
}
h1 {
    margin-bottom: 1em;
    margin-top: 0;
}
a {
    color: #2185d0;
    text-decoration: none;
    cursor: pointer;
}
a:hover {
    text-decoration: underline;
}
.sidebar-header,
.drawer-header {
    display: flex;
    margin-bottom: 0;
    padding-left: 1em;
    align-items: center;
}
.sidebar-header h2,
.drawer-header h2 {
    margin: 0;
}
.header_logo,
.header_logo_dark {
    height: 48px;
    margin-right: 10px;
}
.header_logo {
    display: none;
}
.header_logo_dark {
    display: block;
}

.dark .header_logo {
    display: block;
}
.dark .header_logo_dark {
    display: none;
}
/* Quand un contenu est vide */
.content-nothing {
    text-align: center;
}
.content-nothing i,
.content-nothing span {
    display:block;
}
.content-nothing i {
    font-size: 3em;
    margin-bottom: .5em;
}
#breadcrumb li.crumb {
    background-image: url('../files/breadcrumb.svg');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 24px;
    flex: 0 0 auto;
    padding-right: 7px;
}
#btn_up {
    bottom: 15px;
    cursor: pointer;
    display: none;
    position: fixed;
    right: 25px;
}
.filter-area {
    padding: 1em 1em 0em;
    background-color: rgba(86,61,124,.15);
    margin-bottom: 1em;
}
fieldset.modules.highlight,
fieldset.package.highlight {
    background-color: rgba(128, 128, 128, .2);
}
fieldset.modules,
fieldset.package {
    transition: background-color .5s;
}
/* ---------- Sortable ----------- */
.nested-sortable {
    list-style-type: none;
    padding: 0;
}
.nested-sortable .link-item {
    border: 2px dashed #393f4f;
    margin-top: 1em;
    padding: 1em;
}
.nested-sortable .link-item:hover {
    border: 2px solid #393f4f;
}
.nested-sortable .link-item.placeholder {
    background: #e1e4e8;
    opacity: .5;
}
.nested-sortable .link-title {
    margin-bottom: 5px;
}
/* ---------- Draggble ----------- */
.draggable {
    border: 2px dashed #393f4f;
    cursor: move;
}
.draggable.placeholder {
    background: #e1e4e8;
    opacity: .5;
}
.draggable.draggable-verticale .fa-arrows-alt-v{
    margin-right: 1em;
}

.node-draggable_one_to_many {
    margin-top: -2px;
    padding-left: 1em;
}
/* --------------------------- */
/* ---------- LAYOUT --------- */
/* --------------------------- */
.admin-wrapper {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
}
.admin-wrapper .sidebar-wrapper {
    flex: 1 1 auto;
    min-height: 100vh;
    overflow: hidden;
    pointer-events: none;
}
.admin-wrapper .sidebar-wrapper__inner {
    background: #f6f6f6;
    display: none;
    height: 100%;
    justify-content: flex-end;
}
@media (min-width: 992px) {
    .admin-wrapper .sidebar-wrapper__inner {
        display: flex;
    }
}
.admin-wrapper .sidebar {
    padding: 0;
    padding-top: 2em;
    pointer-events: auto;
    width: 240px;
}
.admin-wrapper .content-wrapper {
    box-sizing: border-box;
    flex: 1 1 auto;
    max-width: 1200px;
    width: 100%;
}
@media (min-width: 992px) {
    .admin-wrapper .content-wrapper {
        max-width: 720px;
    }
}
@media (min-width: 1200px) {
    .admin-wrapper .content-wrapper {
        max-width: 960px;
    }
}
@media (min-width: 1440px) {
    .admin-wrapper .content-wrapper {
        max-width: 1200px;
    }
}
.admin-wrapper .content {
    padding: 2em;
}
.content-wrapper a:hover {
    opacity: .8;
}
.content-wrapper a.btn:hover,
.content-wrapper nav a:hover {
    opacity: 1;
}
#footer_main {
    background-color: #282c37;
    top: 0;
    display: block;
    left: 0;
    position: fixed;
    right: 0;
    text-align: right;
    z-index: 10;
}
@media (min-width: 992px) {
    #footer_main {
        display: none;
    }
}
#footer_main .menu_main {
    margin-bottom: -1px;
}
#toogle_menu {
    color: #fff;
    cursor: pointer;
    display: block;
    padding: 1em;
    text-transform: uppercase;
    z-index: 2;
}


/* --------------------------- */
/* -------- DASHBOARD -------- */
/* --------------------------- */
.dashboard-link-utils {
    overflow: hidden;
    padding: 1em .25em;
    text-align: center;
}
.dashboard-link-utils i {
    font-size: 3em;
    margin-bottom: .25em;
    width: 100%;
}


/* --------------------------- */
/* ----------- MENU ---------- */
/* --------------------------- */
/* Menu drawer */
.navbar-nav ul {
    padding: 0;
}
.navbar-nav ul ul a {
    padding-left: 1.5em;
}
.navbar-nav ul ul ul a {
    padding-left: 3em;
}
.navbar-nav li {
    list-style: none;
}
.navbar-nav li a {
    display: block;
    overflow: hidden;
    padding: 1em;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.navbar-nav li a:hover {
    background-color: #eee;
}
.navbar-nav li a i {
    margin-right: 5px;
}
.navbar-nav li.active > a {
    background-color: #e6e6e6;
}

/* Dark */
.dark .navbar-nav li a {
    color: #9baec8;
}
.dark .navbar-nav li.active a {
    color: #fff;
}
.dark .navbar-nav li.active > a {
    background-color: #2185d0;
}
.dark .navbar-nav li.active a:hover {
    background-color: #1678c2;
}
.dark .navbar-nav li a:hover {
    background-color: #1f232b;
    color: #fff;
}


/* --------------------------- */
/* -------- MODULES ---------- */
/* --------------------------- */
.module-icon {
    background: #e6e7f4;
    background-color: rgb(230, 231, 244);
    border-radius: 4em;
    color: #666999;
    display: inline-block;
    font-size: 1em;
    line-height: 2em;
    padding: 1em;
    text-align: center;
    width: 4em;
}
@media (max-width: 768px) {
    .module-icon {
        border-radius: 0;
        width: 100%;
    }
    .table-modules > tbody > tr > td.th,
    .table-modules > tbody > tr > th {
        padding: 0 !important;
    }
}
.module-is_required {
    color: #d9534f;
}
.module-is_required_for_module {
    color: #5cd85c
}


/* --------------------------- */
/* ---------- NODE ----------- */
/* --------------------------- */
.node-draggable_one_to_many {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

/* ---------- NODE STATUS ----------- */
.node_status-icon {
    display: block;
    height: 16px;
    margin-left: auto;
    margin-right: auto;
    width: 16px;
}
.node_status-icon__publish {
    color: #2ecc71;
}
.node_status-icon__pending_publication {
    color: #dd9f3a;
}
.node_status-icon__draft {
    color: #666;
}
.node_status-icon__archived {
    color: #d14;
}

/* ---------- NODE TYPE ----------- */
.node_type-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -1em;
    margin-right: -1em;
}
.node_type-card {
    flex: 1;
    flex-direction: column;
    display: flex;
    margin: 1em;
}
.node_type-content {
    flex: 1;
    overflow: hidden;
}
.node_type-badge {
    color: #fff;
    border-radius: 30px;
    display: inline-block;
    padding: 2px 10px;
}
.node_type-badge__page {
    background-color: #7fff88;
    color: #005706;
}
.node_type-badge__page_private {
    background-color: #005706;
    color: #7fff88;
}
.node_type-badge__article {
    background-color: #ddd;
    color: #454545;
}
.node_type-badge__page_faq {
    background-color: #7ff6ff;
    color: #005157;
}
.node_type-badge__page_gallery {
    background-color: #f6ffa8;
    color: #4e5700;
}


/* --------------------------- */
/* ---------- USER ----------- */
/* --------------------------- */
.user-picture,
.user-picture_default {
    background-color: #eee;
    background-color: rgba(86,61,124,.15);
    border: 1px solid #ddd;
    border: 1px solid rgba(86,61,124,.2);
}
.user-picture_default {
    position: relative;
    white-space: nowrap;
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
}
.user-picture_default:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}
.user-picture_default_username {
    color: #fff;
    font-size: 5em;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}
.user-title {
    margin: 0;
    padding-top: 1em;
    padding-bottom: 1em;
}
.user-fullname,
.user-username {
    display:block;
}
.user-fullname {
    font-weight: bold;
    font-size: 26px;
    line-height: 30px;
}
.user-username {
    color: #666;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
}

/* ---------- ROLE ----------- */
.badge-role {
    border-radius: 1em;
    box-shadow: 0 2px 2px rgba(0,0,0,.2);
    color: #fff;
    display: inline-block;
    height: 1.5em;
    line-height: 1.3em;
    text-align: center;
    vertical-align: middle;
    width: 1.5em;
}
.badge-role i {
    font-size: .8em;
}
#role_color_btn {
    color: #fff;
    text-shadow: rgba(0,0,0,.75) 0 0 1px;
}

/* ---------- trumbowyg ----------- */
.trumbowyg-box,
.trumbowyg-editor {
    margin-bottom: 0;
    margin-top: 0;
}
.trumbowyg-modal-box label input {
    color: #666;
}
.trumbowyg-editor pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

/* ---------- block ----------- */
.block-report_github {
    text-align: right;
}
.block-report_github a {
    color: #db2828;
}


/* --------------------------- */
/* ------- DARK THEME  ------- */
/* --------------------------- */
.dark .admin-wrapper .sidebar-wrapper__inner {
    background: #282c37;
}
.dark .select2-container--default .select2-selection--multiple {
    background-color: #131419;
    border: 1px solid #000; 
}
.dark .select2-dropdown {
    background-color: #131419;
    border: 1px solid #000; 
}
.dark .select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #282c37;
    border: 1px solid #000; 
}
.dark .select2-container--default .select2-results__option[aria-selected="true"] {
    background-color: #282c37;
}
.dark .select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #2185d0;
}