#menu {
    display: none;
    font-size: 0;
}
#menu li {
    display: block;
    font-size: 1rem;
    position: relative;
}
#nav_main ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#menu ul {
    background: #0086b3;
    border-top: 5px solid #fff;
    display: none;
    left: 0;
    margin-top: -5px;
    padding-left: 1em;
    position: initial;
}
#menu li.parent > a:after {
    background-color: #fff;
    content: '';
    float: right;
    height: 8px;
    margin-left: 1em;
    opacity: 1;
    position: relative;
    top: 5px;
    transform: none;
    vertical-align: middle;
    width: 8px;
}
#menu li:hover > ul {
    display: block;
}
#menu a {
    color: #fff;
    display: block;
    font-weight: 900;
    padding: 1em;
    text-decoration: none;
    text-transform: uppercase;
}
#menu ul a {
    display: block;
    float: none;
    padding: 10px;
    text-transform: none;
    white-space: nowrap;
    width: auto;
}
#menu li:hover > a {
    background-color: rgba(255, 255, 255, .3);
}
#menu ul ul {
    left: 180px;
    top: 0;
}
#menu ul li {
    border: 0;
    display: block;
    float: none;
}
#toogle_menu{
    color: #fff;
    display: block;
    padding: 1em;
    text-transform: uppercase;
    z-index: 2;
    cursor: pointer;
}
#toogle_menu i{
    margin-right: .5em;
    transition: linear .3s;
}
#menu li.active > a{
    background-color: rgba(255, 255, 255, .2);
    color: #fff;
}
@media (min-width: 768px){
    #menu {
        display: block;
    }
    #menu li {
        display: inline-block;
    }
    #menu ul {
        padding-left: 0;
        position: absolute;
    }
    #menu ul a {
        width: 180px;
    }
    #toogle_menu {
        display:none;
    }
}