* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    background-color: #20222d;
    color: #20222d;
}
body{
    background: #007ea8 url("../files/overlay.svg") no-repeat center center fixed;
    background-size: cover;
    font-family: Roboto,"Source Sans Pro",sans-serif;
    font-size: 1.1em;
    line-height: 1.4;
}
footer{
    color: #FFF;
    float: left;
    width: 100%;
    background-color: #20222d;
}
fieldset{
    border: 0;
    border-top: solid 2px #1a92bb;
    min-width: 0;
    padding: 1em 0 0 0;
    margin-bottom: 1em;
}
fieldset legend{
    background: #FFF;
    border: 0;
    color: #007ea8;
    font-size: 20px;
    font-weight: 500;
    padding-right: 6px;
    width: auto;
}
h1, h2, h3, h4, h5, h6{
    font-family: Roboto,"Open Sans",sans-serif;
    letter-spacing: .075em;
    line-height: 1.5;
    margin: 0 0 1em 0;
    text-transform: uppercase;
}
a{
    color: #007ea8;
    position: relative;
    text-decoration: none;
}
#wrapper_footer a{
    color: #009ed2;
}
a:after{
    background: #20222d;
    content: '';
    height: 1px;
    left: 0;
    opacity: 0;
    position: absolute;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
    -webkit-transition: height .3s,opacity .3s,-webkit-transform .3s;
    -moz-transition: height .3s,opacity .3s,-moz-transform .3s;
    transition: height .3s,opacity .3s,transform .3s;
    top: 100%;
    width: 100%;
}
a:hover::after,
a:focus::after{
    height: 5px;
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0);
}
#wrapper_header_page a:hover::after,
#wrapper_header_page a:focus::after,
a.btn:hover::after,
a.btn:focus::after,
nav a:hover::after,
nav a:focus::after{
    opacity: 0;
}
/* MAIN */
#wrapper_header,
#wrapper_header_page{
    color: #fff;
    padding: 2em 0em 1em;
}
#wrapper_header .learn_more{
    text-align: center;
    margin-bottom: 3em;
}
header h1,
header h2{
    line-height: 1.1;
    margin: 0 0 1em 0;
    text-align: center;
}
.logo{
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}
#wrapper_header_page .logo{
    display: inline-block;
    margin: 0 0 0 1.4em;
    vertical-align: middle;
    width: 2em;
}
#wrapper_header_page h2{
    display: inline-block;
    font-size: 2em;
    margin: 0 0 0 .5em;
    text-align: left;
    vertical-align: middle;
}
#wrapper_header_page a{
    color: #FFF;
}
#wrapper_main{
    background-color: #fff;
    padding: 3em 0;
}
#wrapper_footer ul li{
    margin-bottom: 5px;
}
#wrapper_footer a:after{
    background: #fff;
}
#pre_footer {
    background-color: #2d313f;
    padding-top: 1em;
    padding-bottom: 1em;
}
@media (min-width: 768px){
    header h1{
        font-size: 4em;
    }
}
dt{
    font-weight: bold;
}
@media (min-width: 768px){
    .dl-horizontal dt{
        float: left;
        clear: left;
        overflow: hidden;
        text-align: right;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 160px;
    }
    .dl-horizontal dd{
        margin-left: 180px;
    }
}

/* BUTTONS */
#btn_up{
    bottom: 15px;
    cursor: pointer;
    display: none;
    position: fixed;
    right: 25px;
}
.btn.disabled, .btn[disabled], 
fieldset[disabled] .btn {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}

/* FORM */
textarea{
    resize:vertical;
}
label{
    display: inline-block;
    font-weight: 700;
    margin-bottom: 5px;
    max-width: 100%;
}
select[multiple],
select[size]{
    height: auto;
}
[type="checkbox"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    display: block;
    float: left;
    margin-right: -2em;
    opacity: 0;
    z-index: -1;
}
[type="checkbox"] + label{
    cursor: pointer;
    display: inline-block;
    min-height: 1em;
    padding-left: 2em;
    position: relative;
}
[type="checkbox"]:checked + label::before{
    background-color: #20222d;
    border-color: #20222d;
    color: #fff;
    content: "✔";
}
[type="checkbox"] + label::before{
    border: solid 2px;
    content: '';
    display: inline-block;
    height: 1.5em;
    left: 0;
    position: absolute;
    text-align: center;
    top: -0.125em;
    width: 1.5em;
}
[type="checkbox"][disabled] + label::before,
[type="checkbox"][disabled] + label{
    cursor: default;
}
[type="checkbox"][disabled]:checked + label::before{
    background: #999;
    border-color: #999;
}
[type="checkbox"][disabled] + label::before{
    border-color: #999;
}
[type="checkbox"][disabled] + label{
    color: #999;
}
.form-group{
    margin-bottom: 15px;
    position: relative;
}
.form-control{
    border: solid 2px #eee;
    border-radius: 0;
    display: block;
    padding: .5em 0 .5em .5em;
    width: 100%;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.form-control:focus{
    border-color: #0086b3;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.form-control:focus + button{
    border-color: #0086b3;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.form-required{
    color: #c12f2a;
    font-size: 1.3em;
}

/* BUTTONS */
.btn{
    background-color: #20222d;
    border: 0;
    border-radius: 0;
    cursor: pointer;
    color: #fff;
    display: inline-block;
    font-family: "Source Sans Pro",Helvetica,sans-serif;
    font-size: .8em;
    font-weight: 900;
    letter-spacing: .075em;
    padding: 1em 2em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}
a.btn:hover,
.btn:hover{
    background-color: #1a92bb;
    color: #FFF;
}
.btn-primary{
    background-color: #0086b3;
}
.btn-success{
    background-color: #009926;
}
.btn-success:hover{
    background-color: #33ad51;
}
.btn-danger{
    background-color: #d9534f;
}
.btn-danger:hover{
    background-color: #e17572;
}
.btn-action{
    padding: .5em;
    line-height: 1.15;
}

/* IMAGES */
.img-thumbnail{
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: inline-block;
    height: auto;
    line-height: 1.4;
    padding: 4px;
}
img, .img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

/* MODULES */
.module-is_required,
.module-is_required_for_module{
    color: #fff;
    padding-left: .3em;
    padding-right: .3em;
}
.module-is_required{
    background-color: #d9534f;
}
.module-is_required_for_module{
    background-color: #009926;
}
.permission-module {
    border-bottom: #20222d 3px solid;
}
#table-permission td {
    text-align: center;
}

/* ALERTE */
.alert{
    border-left: 5px solid;
    color: #fff;
    font-weight: 600;
    margin-bottom: 1em;
    padding: 1em;
}
.alert > p,
.alert > ul{
    margin: 0;
}
.alert > p + p{
    margin-top: 5px;
}
.alert-info{
    background-color: #007ea8;
    border-color: #0386b3;
}
.alert-success{
    background-color: #33ad51;
    border-color: #009926;
}
.alert-warning{
    background-color: #33ad51;
    border-color: #dd9f3a;
}
.alert-danger{
    background-color: #e17572;
    border-color: #D9534F;
}

/* TABLE */
table{
    background-color: transparent;
    border-collapse: collapse;
}
table col[class*="col-"]{
    display: table-column;
    float: none;
    position: static;
}
table td[class*="col-"],
table th[class*="col-"]{
    display: table-cell;
    float: none;
    position: static;
}
caption{
    color: #777;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: left;
}
th{
    text-align: left;
}
.table{
    margin-bottom: 20px;
    max-width: 100%;
    width: 100%;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td{
    border-top: 1px solid #ddd;
    line-height: 1.4;
    vertical-align: middle;
    padding: 1em;
}
.table > thead > tr > th{
    border-bottom: 2px solid #ddd;
    vertical-align: bottom;
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
    border-top: 0;
}
.table > tbody + tbody{
    border-top: 2px solid #ddd;
}
.table .table{
    background-color: #fff;
}
tbody tr:hover {
    background-color: #e1e4e8;
    -webkit-transition: background-color .2s;
    -moz-transition: background-color .2s;
    -ms-transition: background-color .2s;
    -o-transition: background-color .2s;
    transition: background-color .2s;
}

/* BLOG */
.card{
    margin-bottom: 3em;
}
.card__header,
.card__more{
    text-align: center;
}
.card__content{
    margin: 0 0 2em 0;
    text-align: justify;
}
.card__content img{
    width: 100%;
    height: auto;
}
.card__date_tags{
    margin: 0 0 1em 0;
}
.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
}
.pagination > li {
    display: inline;
}
.pagination > li > a, 
.pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    border-top-color: rgb(221, 221, 221);
    border-right-color: rgb(221, 221, 221);
    border-bottom-color: rgb(221, 221, 221);
    border-left-color: rgb(221, 221, 221);
}
.pagination > .active > a, 
.pagination > .active > a:focus, 
.pagination > .active > a:hover, 
.pagination > .active > span, 
.pagination > .active > span:focus, 
.pagination > .active > span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}

pre{
    background-color: #3F3F3F;
    color: #DDD;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    overflow: auto;
    padding: 5px;
    word-wrap: break-word;
}
code{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 2px 4px;
    font-family: monospace;
}

/* Social menu */

ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0;
}
ul.icons li {
    display: inline-block;
    vertical-align: middle;
}
ul.icons li a::before {
    width: 2em;
    height: 2em;
    line-height: 2em;
    display: inline-block;
    text-align: center;
    font-size: 1.5em;
}
ul.icons li a i {
    display: none;
}